<p class="title">Import SVG (single path) File to convert</p>
<label for="numberForm">Amount of points to integrate: </label>
<input
  class="fileInput"
  (change)="onChangeForm($event)"
  type="file"
  [formControl]="nm"
  #fileForm
/>
<input
  class="numberInput"
  type="number"
  [formControl]="points"
  min="1"
  id="numberForm"
/>
<button class="button" (click)="fileForm.click()" #uploadButton>Upload</button>
<button class="button" (click)="convert()" #uploadButton>Convert</button>

<div id="" class="output">{{ this.status }}</div>
