.file-form {
  display: block;
  background-color: rgba(211, 211, 211, 0.5);
  margin: 0.5%;
  width: 49%;
  float: left;
}
.drawer {
  display: block;
  background-color: rgba(211, 211, 211, 0.5);
  margin: 0.5%;
  width: 49%;
  float: left;
}
